<h1 id="tableLabel">Services Table</h1>

<p>This component demonstrates fetching data from the server.</p>

<table *ngIf="services">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Description</th>
      <th>ServiceImage</th>
    </tr>
  </thead>
  <tbody>
    @for (service of services; track service.serviceID) {

    <tr>
      <td>{{ service.serviceID }}</td>
      <td>{{ service.serviceName }}</td>
      <td>{{ service.serviceDescription }}</td>
      <td>
        <img
          width="150"
          [src]="getImageUrl(service.serviceImage)"
          [alt]="service.serviceName"
        />
      </td>
      <td>
        <a
          class="btn btn-primary"
          routerLink="/sub-services/{{ service.serviceID }}"
          >SubServices</a
        >
      </td>
    </tr>
    }
  </tbody>
</table>
