<div class="container">
  <div class="d-flex justify-content-between my-4">
    <h1 id="tableLabel">Services Table</h1>
    <div>
      <a routerLink="/add-service" class="btn btn-primary">Add Service</a>
    </div>
  </div>
  @if(services.length > 0) {
  <table services>
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Description</th>
        <th>ServiceImage</th>
      </tr>
    </thead>
    <tbody>
      @for (service of services; track service.serviceID) {

      <tr>
        <td>{{ service.serviceID }}</td>
        <td>{{ service.serviceName }}</td>
        <td>{{ service.serviceDescription }}</td>
        <td>
          <img
            width="150"
            [src]="getImageUrl(service.serviceImage)"
            [alt]="service.serviceName"
          />
        </td>
        <td>
          <div class="btn-group">
            <a
              class="btn btn-primary"
              routerLink="/sub-services/{{ service.serviceID }}"
              >SubServices</a
            >
            <a
              routerLink="/edit-service/{{ service.serviceID }}"
              class="btn btn-secondary"
              >Edit</a
            >
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {
  <h2>No Services found</h2>
  }
</div>
